.post {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.cont {
  width: 350px;
}

.imgCont {
  width: 100%;
  height: 150px;
  background: #dedede;
  margin-bottom: 15px;
}
